@include wrapper(about) {
  @include container(container, column) {
    background-color: colors(white);
    border-radius: 4px;
    box-shadow: 0 0 4px 1px colors(gray-dark);
    margin: -6vh margins(s) 0;
    padding: paddings(s);
    text-align: center;
    z-index: 1;

    .accounts {
      display: flex;
      margin: margins(s) 0 margins(xs);

      .account-link {
        border-radius: 6px;

        @include on-event-hover {
          box-shadow: 0 0 4px 1px colors(gray-dark);
        }
      }

      .account-link:not(:last-child) {
        margin-right: margins(s);
      }

      .logo-svg {
        height: auto;
        width: 25px;
      }
    }

    .arnold-jpg {
      border: 1px solid;
      border-radius: 50%;
      height: auto;
      max-width: 75px;
    }

    .resume-link {
      background-color: colors(accent);
      border-radius: 4px;
      color: colors(white, text);
      padding: paddings(s);

      @include on-event-hover {
        box-shadow: 0 0 4px 1px colors(gray-dark);
      }
    }

    .summary {
      text-align: justify;
    }
  }
}

@include media-breakpoint(breakpoints(m)) {
  .about {
    .container {
      margin: -13vh margins(m) 0;
      padding: paddings(m);
      width: calc(#{breakpoints(max-width, container)} - 3rem);

      .accounts {
        .logo-svg {
          width: 30px;
        }
      }

      .arnold-jpg {
        max-width: 100px;
      }
    }
  }
}

@include media-breakpoint(breakpoints(l)) {
  .about {
    .container {
      margin: -13vh 0 0;
      padding: paddings(l);
      width: breakpoints(max-width, container);

      .accounts {
        .account-link {
          border-radius: 8px;
        }

        .logo-svg {
          width: 35px;
        }
      }

      .arnold-jpg {
        max-width: 125px;
      }
    }
  }
}
