// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// Clear inner floats
:global {
  .clearfix::after {
    clear: both;
    content: "";
    display: table;
  }
}
