// width - m: 641px, l: 1008px = 960px + (24px x 2)
// container - max-width: 960px, min-width: 319px
$breakpoints: (
  app: (
    min-height: 100vh,
    min-width: 19.938em
  ),
  container: (
    max-width: 60em,
  ),
  text: (
    s: s,
    m: m,
    l: l,
  ),
  width: (
    m: 40.063em,
    l: 63em,
  )
) !default;

$colors: (
  palette: (
    accent: #0a2035,
    amber: #fdc00f,
    black: #000,
    gray-light: #e6e6e6,
    gray-medium: #cdcdcd,
    gray-dark: #7f7f7f,
    primary: #00b1cd,
    secondary: #154261,
    white: #fff
  ),
  text: (
    black: #000,
    primary: #333,
    secondary: #00b1cd,
    white: #fff
  )
) !default;

// xs: 14px, s: 16px, m: 18px, l: 20px
$fonts: (
  family: (
    code: #{"Source Code Pro", "Consolas", "DejaVu Sans Mono", monospace},
    primary: #{"Source Sans Pro", sans-serif}
  ),
  size: (
    base: 1rem,
    xs: 0.875rem,
    s: 1rem,
    m: 1.125rem,
    l: 1.25rem,
  )
) !default;

// xs: 8px, s: 16px, m: 24px, l: 32px
$margins: (
  xs: 0.5rem,
  s: 1rem,
  m: 1.5rem,
  l: 2rem,
) !default;

$paddings: (
  xs: 0.5rem,
  s: 1rem,
  m: 1.5rem,
  l: 2rem,
) !default;

// Relative or absolute URL for all assets - "http://localhost/assets/"
$urls: (
  assets: "../public/assets/",
) !default;
