// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------

.footer {
  background-color: $color-accent;
  color: $color-text-white;
  padding: map-get($padding, small);
}
