@include wrapper(footer, colors(accent), colors(white, text)) {
  @include container {
    padding: 0 paddings(s);

    p {
      margin-top: margins(s);
    }
  }
}

@include media-breakpoint(breakpoints(m)) {
  .footer {
    .container {
      padding: 0 paddings(m);
    }
  }
}

@include media-breakpoint(breakpoints(l)) {
  .footer {
    .container {
      padding: 0;
    }
  }
}
