@include wrapper(header, colors(primary)) {
  @include container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .logo {
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: center;
      margin-left: margins(s);

      h1,
      h2 {
        color: colors(white, text);
        line-height: 1;
        margin-bottom: 0;
      }

      h1 {
        font-size: fonts(xl);
        font-weight: 700;
      }

      h2 {
        font-size: fonts(xs);
        font-style: italic;
        font-weight: 200;
      }
    }

    .nav-button {
      background: none;
      border: none;
      cursor: pointer;
      margin-right: margins(s);
      padding: 0;
    }

    .nav-button:focus {
      outline: none;
    }
  }
}

.header-scroll {
  box-shadow: 0 0.125rem 0.25rem -0.0625rem colors(gray-dark);
  position: sticky;
  top: 0;
  transform: translateZ(0); // Fix scroll shaking in Chrome
  z-index: 15;
}

@include media-breakpoint(breakpoints(m)) {
  .header {
    .container {
      .logo {
        margin-left: margins(m);
      }

      .nav-button {
        display: none;
      }
    }
  }
}

@include media-breakpoint(breakpoints(l)) {
  .header {
    .container {
      .logo {
        margin-left: 0;
      }
    }
  }
}
