// -----------------------------------------------------------------------------
// Nav
// -----------------------------------------------------------------------------

.nav {
  ul {
    display: flex;
    list-style-type: none;

    li {
      a {
        color: $color-text-white;
        padding: map-get($padding, medium);
      }
    }
  }
}
