:global {
  body {
    color: colors(primary, text);
    font-family: fonts(primary, family);
    font-size: fonts(base);
    line-height: 1.5;

    a { text-decoration: none; }

    dl,
    ol,
    ul {
      margin-top: 0;
      margin-bottom: margins(s);
    }

    h1 { font-size: font-calc(1.75); }
    h2 { font-size: font-calc(1.5); }
    h3 { font-size: font-calc(1.25); }
    h4 { font-size: font-calc(1); }
    h5 { font-size: font-calc(0.75); }
    h6 { font-size: font-calc(0.5); }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
      margin-top: 0;
      margin-bottom: margins(xs);
    }

    p {
      margin-top: 0;
      margin-bottom: margins(s);
    }
  }

  @include media-breakpoint(breakpoints(m)) {
    body {
      h1 { font-size: font-calc(2); }
      h2 { font-size: font-calc(1.75); }
      h3 { font-size: font-calc(1.5); }
      h4 { font-size: font-calc(1.25); }
      h5 { font-size: font-calc(1); }
      h6 { font-size: font-calc(0.75); }
      p { font-size: fonts(m); }
    }
  }

  @include media-breakpoint(breakpoints(l)) {
    body {
      h1 { font-size: font-calc(2.25); }
      h2 { font-size: font-calc(2); }
      h3 { font-size: font-calc(1.75); }
      h4 { font-size: font-calc(1.5); }
      h5 { font-size: font-calc(1.25); }
      h6 { font-size: font-calc(1); }
      p { font-size: fonts(l); }
    }
  }
}
