@include container-wrapper(page, $direction: column) {
  flex: 1;

  @include container(main) {
    p {
      font-size: fonts(m);
    }
  }
}

@include media-breakpoint(breakpoints(m)) {
  .page {
    .main {
      p {
        font-size: fonts(l);
      }
    }
  }
}
