@mixin container-wrapper($container-wrapper, $background-color: null, $color: null, $direction: row) {
  .#{$container-wrapper} {
    background-color: $background-color;
    color: $color;
    display: flex;

    @if $direction == row {
      justify-content: center;
    } @else if $direction == column {
      align-items: center;
      flex-direction: column;
    }

    @content;
  }
}

@mixin container($container: container) {
  .#{$container} {
    width: breakpoints(max-width, container);

    @content;
  }
}

@mixin media($breakpoint) {
  @media (min-width: breakpoints($breakpoint, width)) {
    @content;
  }
}

@mixin media-breakpoint($breakpoint) {
  @if $breakpoint == breakpoints(m) {
    @include media($breakpoint) {
      @content;
    }
  } @else if $breakpoint == breakpoints(l) {
    @include media($breakpoint) {
      @content;
    }
  }
}
